# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output of go coverage tool
*.out
*.prof

# Build / docs artifacts
dist/
site/
*.sarif

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# Editor artifacts
.idea/
.vscode/
*.swp
*.swo
*~

# OS artifacts
.DS_Store
Thumbs.db

# Test output
testdata/*.evtx
